<h1>edit your profile</h1>
<form method="post">
<div>
    {{#profile}}
    <input type="text" name="first" placeholder="first name" value={{first}}></input>
    <input type="text" name="last" placeholder="last name" value={{last}}></input>
    <input type="text" name="email" placeholder="email address" value={{email}}></input>
    <input type="password" name="password" placeholder="password" value={{password}}></input>
    <input type="text" name="age" placeholder="age" value={{age}}></input>
    <input type="text" name="city" placeholder="city" value={{city}}></input>
    <input type="url" name="homepage" placeholder="homepage" value={{homepage}}></input>
    {{/profile}}
</div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
    <button id ="edit-btn" type="sumbit">save</button>
</form>
