<nav class="navigation">
    <a class="nav" href="/petition/logout">logout</a>
    <a class="nav" href="/profile/edit">edit profile</a>
</nav>
<h1 class="title">_everyone<br>who<br>signed</h1>
<div class="signers">

    {{#signers}}
    <p>
        	{{#if url}}
        		<a href="{{url}}">{{first}} {{last}} </a>
        	{{else}}
        		{{first}} {{last}}
        	{{/if}}
            {{#if age}} . {{age}} . {{/if}}

        {{#if city}}<a href="/petition/signers/{{city}}">{{city}}</a>{{/if}}
    </p>
        {{/signers}}
</div>
